@font-face {
    font-family: 'bangin';
    src: url('Banging_font.ttf');
}

#brofilePhoto{
    border-image-width: 0px;
}
#brofilePic{
    width: 500px;
}
#header{
    color: crimson;
    font-family: 'bangin';
    font-size: 54px;
    text-align: left;
}
#subtext{
    color: deepskyblue;
    font-family: 'bangin';
    font-size: 14px;
    text-align: right;
}
#backgroundpic{
        background-repeat: repeat;
        background-attachment: fixed;
        background-position: center; 
    
}
#button{
    background-color: crimson;
  border: none;
  color: deepskyblue;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}

#secondbutton{
    background-color: deepskyblue;
  border: none;
  color: crimson;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}


#deleteButton{
    background-color: crimson;
  border: none;
  color: deepskyblue;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  float: left;
}
#editButton{
    background-color: deepskyblue;
    border: none;
    color: crimson;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    float: right;
}

#thirdbutton{
  background-color: crimson;
  border: none;
  color: deepskyblue;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  cursor: pointer;
}
.broinfo{
    color: darkblue;
    font-family: 'bangin';
    font-size: 18px;
    text-align: center;
    
}