<!-- templates/base.html -->
<!doctype html>
<html>
<head>
  <meta charset='utf-8'>
  <title> Banging Brofiles </title>
   <link href='{{ url_for('static', filename='style.css')}}' rel = 'stylesheet'>
</head>
<body>

    {% block content %}
    <h1 id="header" >Welcome to Brofiles </h1>
    <p id="subtext" >...for the bros that bang </p>
    <p id='subtext2'> A social media website that includes all bro's no matter how big or small. We are a Bro-Family! Welcome Brome my dudes. </p>
    <h1 id="header" > WOULD YOU LIKE TO CREATE A BROFILE BRO</h1>
    <p id="subtext">Just say yes bro</p>
    <a  href='/home'><input id='button' type="button" value="Click to Brocreate"></a>
    <a href='/home/bang'><input id='secondbutton' type="button" value="Bro view the bang of the day"></a>
    <a href='/home'><input id='button' type="button" value="click and scroll down to see your and your bro's brofiles"></a>
    <a hret='/home/bromments'></a><input id='secondbutton' type="button" value="LinkTest"></a>

    <img  id= 'backgroundpic' src="static/source.gif" alt="Brofile Background" >

    {% endblock %}

</body>
</html>