<!-- templates/botd.html -->
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: 'bangin';
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 0px;
  text-align: left;
  padding: 8px;
  
}

tr:nth-child(even) {
  background-color: crimson;
}
tr:nth-child(odd) {
  background-color: deepskyblue;
}
</style>
</head>
<body>

<h2 id="header" >BANG OF THE DAY BRO'S</h2>

<table>
  <tr>
  <th>Day of the week</th>
    <th>BANGING FLAVORS BRO</th>
    	
  </tr>
  <tr>
    <td>Monday</td>
    <td> Bangster Berry</td>
    
  </tr>
  <tr>
    <td>Tuesday</td>
    <td> Frosè Rosè </td>
   
  </tr>
  <tr>
    
    <td>Wednesday</td>
    <td>  Cotton Candy</td>
  </tr>
  <tr>
   
    <td>Thursday</td>
    <td> Purple Haze</td>
  </tr>
  <tr>
   
    <td>Friday</td>
    <td> Rainbow Unicorn</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td> Sour Heads </td>
  </tr>
  <tr>
  	<td>Sunday  </td>
    <td> Champagne</td>
  </tr>
  <tr>
    <a id='thirdbutton' href='/'><input type="button" value="bro...you're still drunk just click here bro"></a>
  </tr>
</table>

</body>
</html>
